html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  padding: 8px 16px;
}

pre {
  overflow-x: hidden;
  overflow-y: auto;
}

video {
  width: 100%;
}

.option {
  margin-bottom: 8px;
}

#media {
  max-width: 1280px;
}
